.newsList{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
    grid-gap: 15px;
}



@media (max-width: 1140px) {
    .newsList {
        grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    }
}

@media (max-width: 960px) {
    .newsList {
        grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    }
}

@media (max-width: 720px) {
    .newsList {
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    }
}

@media (max-width: 540px) {
    .newsList {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
}