.newsList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;

    a {
        height: 338px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1140px) {
    .newsList {
        display: flex;
        justify-content: space-evenly;
        
        a {
            width: 430px;
        }
    }
}

@media screen and (max-width: 960px){
    .newsList {
        display: flex;
        justify-content: space-evenly;

        a {
            width: 480px;
        }
    }
}

@media screen and (max-width: 720px) {
    .newsList {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 540px) {
    .newsList {
        display: flex;
        justify-content: center;
    }
}