.contactsPage {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
        width: 50%;

        .phone {
            a {
                text-decoration: none;
                font-size: 60px;
                color: #004fec
            }

            margin-bottom: 50px;
        }

        .name {
            padding-left: 23px;
            border-left: 1px solid #004fec;
            font-size: 25px;
            margin-bottom: 25px;
        }

        .mail {
            a {
                text-decoration: none;
                font-size: 20px;
                color: #333d51
            }

            margin-bottom: 52px;
        }

        .position {
            color: rgba(51, 61, 81, 0.5);
            font-size: 20px;
            margin-bottom: 25px;
        }

        .technologies {
            font-size: 20px;
        }
    }

    .image {
         width: 50%;

         img {
            width: 100%;
            min-width: 540px;
            height: 340px;
         }
    }
}