.contactsPage {
    display: flex;
    margin-top: 50px;

    .info {
        width: 50%;

        .name {
                padding-left: 23px;
                border-left: 1px solid #004fec;
                font-size: 25px;
                margin-bottom: 25px;
            }

        .phone {
            a {
                text-decoration: none;
                font-size: 60px;
                color: #004fec
            }

            margin-bottom: 50px;
        }

        .mail {
            a {
                text-decoration: none;
                font-size: 20px;
                color: #333d51
            }

            margin-bottom: 52px;
        }

        .position {
            color: rgba(51, 61, 81, 0.5);
            font-size: 20px;
            margin-bottom: 25px;
        }

        .technologies {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1140px) {
    .contactsPage {
        flex-direction: column;

        .info {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
