.newsItem {
    display: grid;  
    min-height: 320px;
    grid-template-rows: auto 1fr auto;
    padding: 25px 25px 15px 25px; 
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(192, 192, 192);
    transition: all 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: translateY(-5px);

        .title {
            color: #004fec;
        }
    }
}

.title {
    padding: 5px 5px 15px 5px;
    color: #333d51;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    transition: all 0.2s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        height: 100%;
        width: 2px;
        background-color: #004fec;
    }
}

img {
    width: 100%;
    margin-top: auto;
}


@media (max-width: 1140px) {
    .newsItem {
        min-height: 280px;
    }
}

@media (max-width: 960px) {
    .newsItem {
        min-height: 290px;
    }
}

@media (max-width: 720px) {
    .newsItem {
        min-height: 270px;
    }
}
