.newsItem {
    flex: 1;
    height: 310px;
    width: 300px;
    display: flex;  
    justify-content: space-between;
    flex-flow: column;
    padding: 25px 25px 10px 25px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #333d51;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(192, 192, 192);
    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: translateY(-5px);

        .title {
            color: #004fec;
        }
    }

    .title {
        padding: 5px;
        font-size: 25px;
        font-weight: 400;
        position: relative;
        transition: all 0.2s ease-in-out;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -24px;
            height: 100%;
            width: 2px;
            background-color: #004fec;
        }
    }

    
}

@media screen and (max-width: 1140px) {
    .newsItem {
        flex: 1;
        max-width: 430px;
        min-width: 380px;

        .title {
            padding: 10px 5px;
            font-size: 19px;
            font-weight: 400;
            position: relative;
            transition: all 0.2s ease-in-out;
        }
    }
}

@media screen and (max-width: 960px) {
    .newsItem {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .newsItem {
        flex-direction: column;
        width: 100%;
    }
}

