.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid darken(#eaeaea, 20%);
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 6px;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 15px;

    .activeLink {
        color: blue;
    }

    a {
        text-align: center;
        font-size: 25px;
        font-weight: 400;

        &.active {
            color: #004fec;
        }
    }
}

@media (max-width: 720px) {
    .mainHeader {
        flex-direction: column;
    }
}




