.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;

    div {
        font-size: 35px;
        font-weight: 400;

        &.small {
            font-size: 12px;
            font-weight: 400;

            &:last-child {
                text-align: right;
            }
        }
    }

    .graduation-title {
        font-size: 18px
    }
}